@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  position: relative;
  font-family: Montserrat, sans-serif;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(15, 21, 36); */
  width: 100%;
  height: fit-content;  
}

.intro-div{
  gap: 50px;
}

.intro-img{
  width: 500px;
}

.intro-title{
  display: block;
  font-size: 6.25rem;
  color: white;
}

.intro-scroll-down{
  position: absolute;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vertival-text{
  writing-mode: vertical-lr;
}

section{
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 70px 0px;
}

.NavBar{
  position: fixed;
  top: 0;
  left: 0;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  /* background-color: black; */
  z-index: 100;
}

.left-nav-buttons{
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.navbaricon{
    cursor: pointer;
    width: clamp(1.875rem, 0.893vw + 1.696rem, 3.125rem);
}

.aboutme-div{
  /* display: flex; */
  /* justify-content: space-between; */
  /* gap: 10px; */
  text-align: center;
  /* position: relative; */
  width: 100%;
  /* height: 450px; */
  /* border-bottom: 3px solid rgb(51, 65, 85); */
}

.aboutme-img{
  position: absolute;
  width: clamp(6.25rem, 8.929vw + 4.464rem, 18.75rem);
  left: 10%;
  bottom: 0;
}

.aboutme-paragraph{
  font-weight: 400;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: black;
  font-size: clamp(0.625rem, 0.67vw + 0.491rem, 1.563rem);
  /* width: 95%; */
}

/* .projects-div{ */
  /* position: absolute; */
  /* padding: 0% 10%; */
  /* width: 100%; */
/* } */

.projects-header{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;
}

.description-div{
  height: 200px;
  overflow: scroll;
  scrollbar-width: none;
}

.project-card{
  width: 350px;
}

.navbar-icon{
  width: 30px;
}

.marquee-element{
  width: 60px;
  height: 60px;
}

.white-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.white-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.white-curve .shape-fill {
  fill: #FFFFFF;
}

.black-curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.black-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.black-curve .shape-fill {
  fill: #020000;
}

.scrollup-button{
  position: fixed;
  width: 40px;
  bottom: 30px;
  right: 30px;
  height: 40px;
  z-index: 1;
  background-color: gray;
}

.black-nav{
  background-color: black;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
}

.white-nav{
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
}

.footer-div{
  color: black
}

.white-triangle {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.white-triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.white-triangle .shape-fill {
  fill: #FFFFFF;
}

.black-triangle {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.black-triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.black-triangle .shape-fill {
  fill: #0E0E0E;
}